@model API_AppParkingSoft.DAL.Entities.Vehicle

<h4>Vehiculo</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html. DisplayNameFormodel => model.LicensePlate)
    </dt>
    <dd class="col-sm-10">
        @Html. DisplayFor(model => model. LicensePlate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Brand)
    </dt>
    <dd class="col-sm-10">
        @Html. DisplayFor(model => model.Brand)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Model)
    </dt>
    <dd class="col-sm-10">
        @Html. DisplayFor(model => model.Model)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CategoryName)
    </dt>
    <dd class="col-sm-10">
        @Html. DisplayFor(model => model.CategoryName)
    </dd>
</dl>
